
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{
  --btn-color:#FF5959;
  --white:#FFFFFF;
  --dark:#333333;
  --yellow:#FFAD5A;
}
/* shared design */
html{
  font-size: 10px;
}


body{
    font-family: "Poppins", sans-serif;
}


img{
  max-width: 100%;
  
}


.para_temp{
color: #3E3E3E;
font-size: 16px;
line-height: 28px;
}



.btn{
  border-radius: 5px;
  background-color: var(--btn-color);
  padding: 12px 36px;
  color: var(--white);
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s linear;

}
.btn:hover{
  box-shadow: 0 0 15px #FF5959;
}

.d-flex{

  display: flex;

}
.container{
  max-width: 1150px;
  margin: 0 auto;
}

/* individual design */


.header_area{
  padding: 120px 0 0 100px;
}


.banner_area_main{
   align-items: center;
   justify-content: space-between;
}


.banner_info{
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}



.banner_title{
  padding-left: 15px;
  border-left: 5px solid var(--btn-color);
}




.banner_info h2{
  font-size:6rem ;
  color: var(--dark);
}

.title_ye{
  color: var(--yellow);
}


.banner_info p{
  font-size: 18px;
}


.banner_main_img{
  max-width: 430px;
  width: 100%;
}



/* mission cards area */

.mission_area_title{
  text-align: center;
  margin-bottom: 25px;
}

.mission_area_title h3{
  font-size: 4.8rem;
  font-weight: bold;
color: #13103A;

}


.mission_cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 20px 0;
  gap: 40px;
}

.mcard{
  flex-direction: column;
  gap: 20px;
padding: 20px;
border-radius:26px ;


}

.mcard img{
  width: 126px;
  height: 126px;
}

.mcard .mcard_title{
  font-size:2.4rem ;
  color: #000000;
  font-weight: 600;
}

.mcard:nth-child(1){

  background-color: rgba(79, 157, 166, 0.1);
}
.mcard:nth-child(2){

  background-color: rgba(255, 89, 89, 0.1);
}
.mcard:nth-child(3){

  background-color:rgba(255, 244, 214, 1);
}

/* goals area */


.goals_area_main{
  padding: 50px 0;
}
.goals_show{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;

}

.goals_img{
  position: relative;
}
.goals_img img{
  max-width: 400px;
 width: 100%;
}

.goals_show_info{
  max-width: 600px;
  width: 100%;
  flex-direction: column;
  gap: 25px;
}

.goals_show_info h3{
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--dark);
}

.goals_show_info span{
  display: block;
}

.goals_show_info button{

  max-width: max-content;
}


#reverse_goals_content{
  flex-direction: row-reverse;
}


#goals_img_left::before{
  content: '';
  width: 230px;
  height: 230px;

  background-image: url(images/shapes/shape-1.png);
  background-size: cover;
 
  position: absolute;
  top: 70px;
  left: -100px;
z-index: -1;
  
}
#goals_img_right::before{
  content: '';
  width: 200px;
  height: 200px;

  background-image: url(images/shapes/shape-1.png);
  background-size: cover;
 
  position: absolute;
 
top: auto;
bottom:-70px;
right: -70px;
z-index: -1;
  
}




.health_check_title{
  text-align: center;
}

.health_check_title h3{
  font-size: 4.8rem;
  font-weight: bold;
  color:#000000;
}

.health_project{
  padding: 90px 0;
  align-items: center;
  gap: 201px;
}

.health_project_info{
 max-width:600px;
 width: 100%;
}
.health_project_info h3{
  font-size: 4.5rem;
}

.health_project_img{
  position: relative;
}

.health_project_img::before{
  content: '';
 width: 147px;
 height: 147px;
  background-image:url(images/shapes/shape-3.png);
background-size: cover;
z-index: -1;

  position: absolute;

}






/* footer area  */

footer{
  background-color: #0B0D17;
  padding: 40px;
}

.footer_main_container{

  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}



.footer_main_container h6{
  font-size: 3rem;
   font-family: "Lobster", sans-serif;
   color: var(--white);
   margin-bottom: 20px;

}

.footer_main_container h6 .mission_2026{
  color: var(--btn-color);
}








/* responsive design */

@media screen and (max-width:576px){

  .container{
    width: 100%;
  }




  .banner_area_main,.goals_show,.health_project,
  #reverse_goals_content{
    flex-direction: column;
  }


  
.header_area{
  padding: 50px 20px;
}



.banner_title h2{
  font-size: 3rem;
}


.mission_area_title h3{
  font-size: 3.8rem;

}


.mission_cards{
  grid-template-columns: 1fr;
  padding: 20px;
}


#goals_img_right::before,#goals_img_left::before{
  display: none;
}


.goals_show{
  padding: 20px;
  gap: 30px;
  text-align: center;
}

.health_project{
  gap: 30px;
  text-align: center;
padding: 40px 10px;
}


.health_project h3{
  font-size: 3rem;
}
 
}



/* responsive for tablet type device */

@media screen and (min-width:576px) and (max-width:992px){



  .container{
    width: 100%;
  }




  .banner_area_main,.goals_show,
  #reverse_goals_content{
    flex-direction: column;
  }


  
.header_area{
  padding: 50px 20px;
}



.banner_title h2{
  font-size: 3.8rem;
}


.mission_area_title h3{
  font-size: 3.8rem;

}


.mission_cards{
  grid-template-columns:repeat(2,1fr);
  padding: 20px;
}


#goals_img_right::before,#goals_img_left::before{
  display: none;
}


.goals_show{
  padding: 20px;
  gap: 30px;
  text-align: center;
}

.health_project{
  gap: 25px;
  text-align: center;
padding: 40px 10px;
}


.health_project h3{
  font-size: 3rem;
}

.health_project img{
  max-width: 350px;
}
}





@media screen and (min-width:992px) and (max-width:1250px){

  .container{
    padding: 0 20px;
  }

  #goals_img_right::before,#goals_img_left::before{
  display: none;
}

.health_project{
  gap: 40px;
}

.health_project_img::before{
  display: none;
}


}